{% extends 'base.html.twig' %}

{% block title %}Page de contact
    {% if city is defined %}
         - {{ city }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
   {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}

<div>
    {% if name is defined %}
        <h1>Hello {{ name }} ! ✅</h1>
    {% endif %}
    <div class="test"><p>TEST</p></div>

    {% if contacts is defined %}
        {% if contacts is not empty %}
            {% for contact in contacts %}
                {{ contact.prenom }}
                {{ contact.nom }} |
                {{ contact.email }}
                </br>
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if contact is defined %}
        Bienvenue {{contact.prenom}} {{contact.nom}}
    {% endif %}
</div>
{% endblock %}
